/*  *, *::after, *::before {
    box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
} */


/* ~~~ FONTS ~~~ */


@font-face {
  font-family: 'Lato';
  font-weight: 300; /* LIGHT */
  font-style: normal;
  src: url('../fonts/Lato-Light.ttf');
  src: url('../fonts/Lato-Light.ttf?#iefix') format('embedded-opentype'); 
}

@font-face {
  font-family: 'Lato';
  font-weight: 400; /* REGULAR */
  font-style: normal;
  src: url('../fonts/Lato-Regular.ttf');
  src: url('../fonts/Lato-Light.ttf?#iefix') format('embedded-opentype'); 
}

@font-face {
  font-family: 'Lato';
  font-weight: 700; /* BOLD */
  font-style: normal;
  src: url('../fonts/Lato-Bold.ttf');
  src: url('../fonts/Lato-Light.ttf?#iefix') format('embedded-opentype'); 
}

@font-face {
  font-family: 'Lato';
  font-weight: 900; /* BLACK */
  font-style: normal;
  src: url('../fonts/Lato-Black.ttf');
  src: url('../fonts/Lato-Light.ttf?#iefix') format('embedded-opentype'); 
}


/* ~~~ MAIN ~~~ */


body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 1em; 
  line-height: 2;
  min-height: 80vh;
}


/* ~~~ NAVIGATION ~~~ */


header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3em 0em;
  flex-wrap: wrap;
}

.nav-link {
  font-size: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: black;
  position: relative;

}

.nav-logo {
	font-size: 1.5em;
	font-weight: 700;
  	text-decoration: none;
  	color: black;
}






